*{
    font-family: 'Requiem II', sans-serif;    
    margin: 0;      
}
body{
    background-color: rgb(7, 9, 119);
}

li{
    color: rgb(104, 134, 231);
}
h1{
    color: rgb(153, 182, 236);
}
img{
    width: 100px;
}

.lista{
    display: flex;
    flex-wrap: wrap;
}
.lista div{
    margin: 1em;
    max-width: 7em;
    width: 7em;
}

.header {
    list-style: none;
    display: flex;
    
}

.header li {
    background-color: burlywood;
    margin: .5em;
    padding: .5em;
    border-radius: 1em;
    font-size: 1.2em;
}

.header a{
    color: black;
    text-decoration: none;
}

.header a:hover{
    color: rgb(109, 59, 59);
}

.header li:hover {
    background-color: rgb(165, 107, 30);
}

.main-ini{
    color: aqua;
    font-size: 2em;
}

header{
    background-color: blue;
}

.sobre{
    text-align: center;
    
}

.sobre h1{
    font-family: Arial, Helvetica, sans-serif;
}


.sobre h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
    color: rgb(153, 182, 236);
}

.sobre h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 182, 236);
}

.sobre h4{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 182, 236);
}