*{
    font-family: 'Requiem II', sans-serif;          
}
body{
    background-color: rgb(7, 9, 119);
}

li{
    color: rgb(104, 134, 231);
}
h1{
    color: rgb(153, 182, 236);
}
img{
    width: 100px;
}

.lista{
    display: flex;
    flex-wrap: wrap;
}
.lista div{
    margin: 1em;
}